<section class="container-fluid">

  <h2>Draggable Item</h2>

  <h3>Basic</h3>
  <div class="row">
      <div class="col-sm-4">
        {{!- BEGIN-SNIPPET draggable-example-1 }}
        {{#draggable-item class="draggable-box"}}
            <h3>Drag Me!</h3>
            <p>
                If you can drag me here, you can drag me anywhere!
            </p>
        {{/draggable-item}}
        {{!- END-SNIPPET }}
      </div>
      <div class="col-sm-8">
        {{code-snippet name="draggable-example-1.hbs"}}
      </div>
  </div>

  <h3>lockX</h3>
  <div class="row">
      <div class="col-sm-4">
        {{!- BEGIN-SNIPPET draggable-example-2 }}
        {{#draggable-item lockX=true class="draggable-box"}}
            <h3>Drag Me!</h3>
            <p>
                You can drag me, but I ain't goin' witchya.
            </p>
        {{/draggable-item}}
        {{!- END-SNIPPET }}
      </div>
      <div class="col-sm-8">
        {{code-snippet name="draggable-example-2.hbs"}}
      </div>
  </div>

  <h3>lockY</h3>
  <div class="row">
      <div class="col-sm-4">
        {{!- BEGIN-SNIPPET draggable-example-3 }}
        {{#draggable-item lockY=true class="draggable-box"}}
            <h3>The Beatle</h3>
            <p>
                I wanna hold your haaaaand.
            </p>
        {{/draggable-item}}
        {{!- END-SNIPPET }}
      </div>
      <div class="col-sm-8">
        {{code-snippet name="draggable-example-3.hbs"}}
      </div>
  </div>

  <h3>lockToViewport</h3>
  <p>
      Keeps a draggable item within the viewport. It does not
      fix it there though.
  </p>
  <div class="row">
      <div class="col-sm-4">
        {{!- BEGIN-SNIPPET draggable-example-3 }}
        {{#draggable-item lockToViewport=true class="draggable-box"}}
            <h3>Moneypit</h3>
            <p>
                You ain't tryin' to fix me, are ya?
            </p>
        {{/draggable-item}}
        {{!- END-SNIPPET }}
      </div>
      <div class="col-sm-8">
        {{code-snippet name="draggable-example-3.hbs"}}
      </div>
  </div>

  <h3>keepInViewport</h3>
  <p>
      Keeps a draggable item within the viewport, even when the
      viewport is scrolled away.
  </p>
  <div class="row">
      <div class="col-sm-4">
        {{!- BEGIN-SNIPPET draggable-example-3 }}
        {{#draggable-item keepInViewport=true class="draggable-box"}}
            <h3>Go ahead, drag my day!</h3>
            <p>
                You can drag me anytime you like, but you can never
                leave!
            </p>
        {{/draggable-item}}
        {{!- END-SNIPPET }}
      </div>
      <div class="col-sm-8">
        {{code-snippet name="draggable-example-3.hbs"}}
      </div>
  </div>

</section>